@model System.Data.DataTable 
@{
    ViewBag.Title = "Index";
}

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Email-Id</th>
        <th>Address</th>
    </tr>
    @for(int i=0; i<  Model.Rows.Count ; i++) 
    {
      <tr>
          <td>@Model.Rows[i][1]</td>
          <td>@Model.Rows[i][2]</td>
          <td>@Model.Rows[i][3]</td>
          <td>
              <a href="@Url.Action("Create","Student")">New</a>
          </td>
          <td>
              <a href="@Url.Action("Edit", "Student", new { id = Model.Rows[i][0] })">Edit</a>
          </td>
          <td>
              <a href="@Url.Action("Delete", "Student", new { id = Model.Rows[i][0] })">Delete</a>
          </td>
      </tr>
    
    }
   

</table>


